/* __        __          _                      _         _       */
/* \ \      / /_ _ _   _| |__   __ _ _ __   ___| |_ _   _| | ___  */
/*  \ \ /\ / / _` | | | | '_ \ / _` | '__| / __| __| | | | |/ _ \ */
/*   \ V  V / (_| | |_| | |_) | (_| | |    \__ \ |_| |_| | |  __/ */
/*    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |___/\__|\__, |_|\___| */
/*                 |___/                            |___/         */
/*  by Frogprog (2025)  */



* {
   /* `otf-font-awesome` is required to be installed for icons */
   /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
   font-family: Symbols Nerd Font, JetBrainsMono Nerd Font Mono, Helvetica, Arial, sans-serif;
   font-size: 20px;
   /* font-variant: Extra Condensed; */
   margin: 0;
   padding: 0;
}

/*doing islands for left module group*/
.modules-left {
   margin-top: 8px;
   margin-bottom: 8px;
}

.modules-center {
   margin-top: 8px;
   margin-bottom: 8px;
}

/*doing islands for right module group*/
.modules-right {
   margin-top: 8px;
   margin-bottom: 8px;
}


window#waybar {
   border-radius: 0px;
   /* background-color: transparent; */
   background-color: rgba(40, 40, 40, 0.5);
   border-bottom: transparent;
   color: #ebdbb2;
   transition-property: background-color;
   transition-duration: .5s;
}

window#waybar.hidden {
   opacity: 0.2;
}

/* 
window#waybar.termite {
   background-color: transparent;
}

window#waybar.chromium {
   background-color: rgba(40, 40, 40, 0.76);
   border: none;
} */

button {
   /* Use box-shadow instead of border so the text isn't offset */
   /* box-shadow: inset 0 -3px transparent; */
   /* Avoid rounded borders under each button name */
   padding: 0px;
   border: none;
   border-radius: 4px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
   background: inherit;
   /* box-shadow: inset 0 -3px #ebdbb2; */
   /* border: 2px solid #ebdbb2; */
}



#workspaces {
   padding: 2px;
   background: rgba(40, 40, 40, 0.76);
   color: #ebdbb2;
   border-width: 2px;
   border-style: solid;
   border-color: #ebdbb2;
   border-radius: 4px;
   /* border-left: px; */
   margin-left: 4px;
   margin-right: 4px;
   padding-right: 6px;
   padding-left: 6px;
}

#workspaces button {
   /* border: 2px solid #8ec07c; */
   /* border-color: transparent; */
   font-weight: bold;
   /* border-radius: 20px; */
   background-color: transparent;
   color: #ebdbb2;
}

#workspaces button:hover {
   background: rgba(40, 40, 40, 0.76);
   /* border: 1px solid #8ec07c; */
   opacity: .8;
   color: #fabd2f;
}

#workspaces button.focused {
   /* border: 2px solid #ebdbb2; */
   /* background-color: rgba(40, 40, 40, 0.76); */
   /* box-shadow: inset 0 -2px #ebdbb2; */
}

#workspaces button.urgent {
   color: #eb4d4b;
}

#workspaces button.active {
   /* background-color: #8ec07c; */
   color: #8ec07c;
   opacity: .8;
   /* border: 2px solid #8ec07c; */
   /* min-width: 30px; */
   /* transition: all 0.3s ease-in-out; */
}

#workspaces button.empty {
   font-weight: normal;
   opacity: 0.6;
}



/* STANDALONE LAUNCHER */

#custom-launcher {
   background: rgba(40, 40, 40, 0.76);
   color: #d3869b;
   border-width: 2px;
   border-style: solid;
   border-color: #d3869b;
   border-radius: 4px;
   /* border-left: px; */
   margin-left: 10px;
   margin-right: 4px;
   padding-right: 6px;
   padding-left: 6px;
}

/* STANDALONE WINDOW */

#window {
   background: rgba(40, 40, 40, 0.76);
   color: #ebdbb2;
   border-width: 2px;
   border-style: solid;
   border-color: #ebdbb2;
   border-radius: 4px;
   /* border-left: px; */
   margin-left: 4px;
   margin-right: 4px;
   padding-right: 6px;
   padding-left: 6px;
}

/* STANDALONE POWER */

#custom-power {
   background: rgba(40, 40, 40, 0.76);
   color: #fb4934;
   border-width: 2px;
   border-style: solid;
   border-color: #fb4934;
   border-radius: 4px;
   /* border-left: px; */
   margin-left: 4px;
   margin-right: 4px;
   padding-right: 8px;
   padding-left: 8px;
}

/* MUSIC */

#music {
   background: rgba(40, 40, 40, 0.76);
   color: #ebdbb2;
   border-width: 2px;
   border-style: solid;
   border-color: #8ec07c;
   border-radius: 4px;
   /* border-left: px; */
   margin-left: 4px;
   margin-right: 4px;
   padding-right: 6px;
   padding-left: 6px;
}

#custom-expandm {
   background: transparent;
   color: #ebdbb2;
}

#cava {
   background: transparent;
   padding-left: 4px;
   margin-left: 4px;
   padding-bottom: 2px;
   color: #8ec07c;
}

#custom-playerctl {
   background: transparent;
   padding-left: 4px;
   margin-left: 4px;
   padding-bottom: 0px;
   color: #ebdbb2;
}


/* SETTINGS */

#settings {
   background: rgba(40, 40, 40, 0.76);
   color: #ebdbb2;
   border-width: 2px;
   border-style: solid;
   border-color: #ebdbb2;
   border-radius: 4px;
   /* border-left: px; */
   margin-left: 4px;
   margin-right: 4px;
   padding-right: 6px;
   padding-left: 6px;
   padding-top: 0px;
   padding-bottom: 0px;
}

#language {
   /* border-radius: 10px; */
   padding-left: 4px;
   padding-right: 0px;
}

#battery {
   padding-left: 4px;
   padding-right: 4px;
   transition: all .3s ease;
   color: #ebdbb2;
}

#battery.charging,
#battery.plugged {
   color: #8ec07c;
}

#battery.warning:not(.charging) {
   color: #fabd2f;
}

#battery.critical:not(.charging) {
   color: #fb4934;
   animation-name: blink;
   animation-duration: 0.5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

#backlight {
   background-color: transparent;
   color: #ebdbb2;
   padding-left: 4px;
   padding-right: 4px;
}

#backlight-slider slider {
   /* min-height: 0px;
   min-width: 0px; */
   opacity: 0;
   background-image: none;
   border: none;
   box-shadow: none;
}

#backlight-slider trough {
   /* min-height: 5px; */
   /* min-width: 20px; */
   /* border-radius: 5px; */
   background-color: rgba(40, 40, 40, 0.76);
}

#backlight-slider highlight {
   /* min-width: 0px; */
   /* border-radius: 0px; */
   background-color: #fb4934;
}

#pulseaudio {
   background-color: transparent;
   color: #ebdbb2;
   padding-left: 4px;
   padding-right: 4px;
}

#pulseaudio.muted {
   /* background-color: #83a598; */
   color: #fb4934;
   opacity: 0.8;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
   color: #fabd2f;
   opacity: 0.8;
}

#bluetooth {
   background-color: transparent;
   color: #ebdbb2;
   padding-left: 4px;
   padding-right: 4px;
}


/* TODAY */

#today {
   background: rgba(40, 40, 40, 0.76);
   color: #ebdbb2;
   border-width: 2px;
   border-style: solid;
   border-color: #ebdbb2;
   border-radius: 4px;
   /* border-left: px; */
   margin-left: 4px;
   margin-right: 10px;
   padding-right: 6px;
   padding-left: 6px;
   padding-top: 0px;
   padding-bottom: 0px;
}

#custom-weather {
   background: transparent;
   padding-right: 4px;
   margin-right: 4px;
   padding-bottom: 2px;
   color: #ebdbb2;
}

#clock {
   background: transparent;
   padding-right: 0px;
   margin-right: 0px;
   margin-left: 0px;
   padding-bottom: 0px;
   color: #ebdbb2;
}

/* TODAY */

#system {
   background: rgba(40, 40, 40, 0.76);
   color: #ebdbb2;
   border-width: 2px;
   border-style: solid;
   border-color: #ebdbb2;
   border-radius: 4px;
   /* border-left: px; */
   margin-left: 4px;
   margin-right: 4px;
   padding-right: 6px;
   padding-left: 6px;
   padding-top: 0px;
   padding-bottom: 0px;
}


#custom-expandm {
   background: transparent;
   color: #ebdbb2;
}

#temperature {
   background: transparent;
   margin-left: 4px;
   margin-right: 8px;
   color: #ebdbb2;
}

#temperature.critical {
   color: #eb4d4b;
}

#custom-gpu_switcher {
   background: transparent;
   margin-left: 4px;
   margin-right: 6px;
   color: #ebdbb2;
}

#custom-hyprsunset {
   background: transparent;
   margin-left: 4px;
   margin-right: 4px;
   color: #ebdbb2;
}

#custom-keybindings {
   background: transparent;
   margin-left: 4px;
   margin-right: 4px;
   color: #ebdbb2;
}

#custom-cliphist {
   background: transparent;
   margin-left: 4px;
   margin-right: 4px;
   color: #ebdbb2;
}

#idle_inhibitor {
   background: transparent;
   margin-left: 4px;
   margin-right: 0px;
   color: #ebdbb2;
}

#disk {
   background: transparent;
   margin-left: 4px;
   margin-right: 6px;
   color: #ebdbb2;
}

#memory {
   background: transparent;
   margin-left: 4px;
   margin-right: 6px;
   color: #ebdbb2;
}

#cpu {
   background: transparent;
   /* padding-right: 4px; */
   margin-right: 4px;
   margin-left: 6px;
   color: #ebdbb2;
}

#tray {
   background: transparent;
   margin-left: 4px;
   margin-right: 4px;
   color: #ebdbb2;
}

#tray>.passive {
   -gtk-icon-effect: dim;
}

#tray>.needs-attention {
   -gtk-icon-effect: highlight;
   color: #eb4d4b;
}